/* Стилі для секції "Про нас" */
.about-section {
    padding: 60px 20px;
    background-color: #fff8f0;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    /* Легка тінь секції */
    border-radius: 20px;
    margin: 40px 20px;

    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.2s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.about-image {
    background: url('../images/about-us.jpg') no-repeat center center/cover;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.about-image:hover {
    transform: scale(1.05);
}

/* Стиль для статей */
article {
    margin: 30px 0;
    padding: 20px;
    background-color: #fff0db;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

article:hover {
    background-color: #f9c74f;
    /* Легке підсвічування при наведенні */
}

/* Заголовки статей */
article h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #4b3832;
}

/* Короткий текст статті */
article .article-short {
    font-size: 18px;
    line-height: 1.6;
    color: #4b3832;
    margin-bottom: 15px;
}

/* Повний текст статті */
article .article-full {
    font-size: 18px;
    line-height: 1.6;
    color: #4b3832;
    display: none;
    /* Початково текст прихований */
}

/* Кнопка для розгортання */
.toggle-btn {
    background-color: #f9c74f;
    color: #4b3832;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.toggle-btn:hover {
    background-color: #f9844a;
}

/* Розділювач для статей */
.article-divider {
    margin-top: 30px;
    height: 2px;
    background-color: #4b3832;
    width: 100%;
    border: none;
}